.board {
    border: 1px solid black;
    width: 1140px;
    height: 840px;
    background-color: wheat;
}

.board-center {
    border: 1px solid black;
    height: 250px;
    background-color: lightsteelblue;
    padding: 20px;
}

.board-footer {
    border: 1px solid black;
    /* top: 500px;
    height: 200px; */
    background-color: darkgray;
    padding: 20px;
}