.board {
    border: 1px solid black;
    margin: 20px;
    width: 83%;
    background-color: tomato;
}

.board-center {
    border: 1px solid black;
    height: 575px;
    /* background-color: lightsteelblue; */
    padding: 20px;
}

.board-footer {
    border: 1px solid black;
    height: 500px;
    /* top: 500px;
    height: 200px; */
    /* background-color: darkgray; */
    padding: 20px;
}