.discard {
    /* position: relative; */
}

.facedown-cards {
    width: 100%;
    position: relative;
    bottom: 115px;
}

.hand {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
}

.stack-title {
    color: black;
}

.facedown-card,
.card {
    width: 80px;
    height: 100px;
    border-style: solid;
    border-width: thin;
    border-color: black;
}

.facedown-card {
    position: absolute;
    background-color: rgb(206, 196, 172);
}

.red {
    color: red;
}

.black {
    color:black;
}

.card {
    background-color: white;
    position: relative;
}

.selected {
    background-color: sandybrown;
}

.black {
    color: black;
}

.suit {
    font-size: 3em;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}

.bottom {
    position: absolute;
    bottom: 3px;
    right: 3px;
}

.top {
    position: absolute;
    top: 3px;
    left: 3px;
}

.number {
    font-size: 1em;
}

.undersuit {
    font-size: 1.5em;
    z-index: 0;
    opacity: 0.35;
    filter: alpha(opacity=35);
}

.group {
    position: relative;
    border: 1px solid steelblue;
}