/*.discard {
     position: relative;
} */


.item1 { 
    grid-area: header;
 }
.item2 {
     grid-area: left; 
     }
.item3 { 
    grid-area: main;
  }
.item4 { 
    grid-area: right; 
 }
.item5 { 
    grid-area: bottom;
 }


.app-container {
  display: grid;
  grid-template-areas:
    'header header header header header'
    'left main main main right'
    'left main main main right'
    'left main main main right'
    'bottom bottom bottom bottom bottom';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.app-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

.horizontal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.facedown-card,
.card {
  width: 80px;
  height: 100px;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.facedown-card {
  position: absolute;
  background-color: rgb(206, 196, 172);
}

.red {
  color: red;
}

.black {
  color:black;
}

.card {
  background-color: white;
  position: relative;
}

.selected {
  background-color: sandybrown;
}

.suit {
  font-size: 3em;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
}

.bottom {
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.top {
  position: absolute;
  top: 3px;
  left: 3px;
}

.number {
  font-size: 1em;
}

.undersuit {
  font-size: 1.5em;
  z-index: 0;
  opacity: 0.35;
  filter: alpha(opacity=35);
}

.opponent {

}